%h2 Login

= form_for @user, :action => :create do
  = label_tag :email, 'Email: '
  %br
  = text_field_tag :email
  %br
  = label_tag :password, 'Password: '
  %br
  = password_field_tag :password
  %br
  = submit_tag 'Login'
